body {
    background-color: #ddd;
    font-family:'Courier New', Courier, monospace ;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}