header .container {
  display: flex;
  @include diraction;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include mediamedium2 {
      width: auto;
    }
    width: 30%;
    a {
      color: $grayColor;
      h1 {
      }
      p {
      }
    }
  }

.main-nav {
position: relative;
  width: 70%;
  @include mediamedium2 {
    width: auto;
  }
  .icon {
    display: none;
    flex-direction: row-reverse;
    width: 100%;
    cursor: pointer;


    @include mediamedium2 {
      display: flex;
    }



  }
  .navbar {
    @include mediamedium2 {
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      flex-direction: column;
      width: 70vw;
    }
    
    @include mediasmall2 {
      width: 90vw;

    }
    &.open {
      @include mediamedium2 {
        display: flex;
      }
    }

    @include mediamedium {
      display: flex;
    }

    @include diraction;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: $redColor;
    li {
      @include mediamedium2 {
padding:  10px 0;
      }
      margin-right: 5px;
      a {
        color: white;
        font-weight: bold;
        word-spacing: -7px;
        text-transform: uppercase;
      }
      a:hover {
        color: $grayColor;

      }
    }
  }
}

}
